@font-face {
    font-family: mifuente;
    src: url(../recursos/fonts/caveat.woff2);
}

body {

    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(236, 233, 233);
}

#contenedor1 {
    /*Primer div: tiene el logo mas txt de promo */
    width: 100%;
    display: block;
    background-image: url("../recursos/imagenes/fondo1.jpg");
    background-position: center;
    height: 250px;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;


}

#contenedor1:before {
    /* Para añadirle la sombra a la imagen del primer div*/
    content: '';
    position: absolute;
    background-color: #000;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.7;
    margin: 0 auto;
}


#divlogo {
    /*Div que contiene el logo */

    display: block;
    margin: 0px auto;
    padding: 10px 10px 10px 10px;
    text-align: center;
    height: 60px;
    filter: contrast(10) brightness(10);
    opacity: 10;
}


#text1 {
    /* Es el div del texto promocion*/

    font-family: mifuente;
    font-weight: bold;
    color: white;
    background-color: rgb(36, 114, 104);
    margin: 0px auto;
    width: 25%;
    padding-top: 0.5px;
    padding-bottom: 0.5px;
    text-align: center;
    position: relative;
}

.letraVerde {
    /*Para poner las letras verdes */
    color: rgb(36, 114, 104);
}

#posIzAqA {
    /*Para poner texto a la izquierda y abajo */
    position: relative;
    display: block;

}

#posCen {
    /*Para poner texto centrado */
    text-align: center;
}

#fotosArriba {
    /* Para poner las fotos a la derecha */
    display: block;
    position: relative;
    left: 870px;
    font-size: 0px;


}

#margen1 {
    /* margen primera foto */
    margin-right: 30px;
    display: inline-block;

}

#fotosAbajo {
    /* Para poner las fotos a la derecha */
    display: block;
    margin: 0 auto;
    position: relative;
    left: 120px;
}

#contenedor3{
    width: 100%;
    display: block;
    background-image: url(../recursos/imagenes/fondo2.jpg);
    font-family: mifuente;
    font-style: italic;
    background-position: center;
    height: 250px;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    
}

#contenedor3:before {
    /* Para añadirle la sombra a la imagen del primer div*/
    content: '';
    position: absolute;
    background-color: #000;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.7;
    margin: 0 auto ;
    
}


figure {
	
    padding-left: 900px;
    border-radius: 100%;
    overflow: hidden;
    
    width: 90px;
    height: 60px;
    position: relative;
    
}

figure img {
    
    display: inline-block;
    width: 80px;
    height: 60px;
    
    
} 

#txt2 {
    /* Es el div de abajo*/
    font-family: miFuente;
    text-align: center;
    position: relative;
    
}

h3{
    color: yellow;
    text-align: center;
    padding-top: 50px;
    position: relative;
    
}

#footerh5{
    color: yellow;
    text-align: center;
    position: relative;
    font-style: italic;

}

#foot{
    text-align: center;
    position: relative;


}

